
#navbar{
    width: 100%;
    max-height: 75px;
    min-height: 75px;
    background-color: black;
    color: #595843;

}

#navbar ul{
    max-height: 75px;
    min-height: 75px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

#navbar ul li{
    width: 70px;
    height: 70px;
    font-size: 23px;
    margin-top: 20px;
}

.primerli{
    margin-left: 700px;
}

.ultimoli{
    margin-right: 100px;
}

a{
    color: #595843;
    text-decoration: none;
}


.icono{
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin-left: 20px;
}

#navbar ul li a:hover{
    color: #73262C;
}

.icono:hover{
    transform: scale(1.5);
}

/* @media (max-width: 768px) {

    .icono{
        display: none;
    }
    #navbar ul {
        justify-content: space-evenly;
        padding: 0 10px; 
    }
    
    .primerli {
        margin-left: -370px; 
    }

    .segundoli{
        margin-left: -150px;
    }

    .ultimoli{
        margin-left: -100px;
    }
    .navbar ul li {
        font-size: 15px;
    }
} */

@media (max-width: 768px) {

    .icono{
        display: none;
    }
    
    /* #navbar ul li.primerli {
        font-size: 16px; 
        margin-left: -1000px;
    }

    #navbar ul li.segundoli {
        margin-left: -800px;
    }

    #navbar ul li.ultimoli {
        margin-left: -1000px;
    }
    
    #navbar ul li {
        font-size: 16px;
        width: auto;
        margin-top: 26px;
    } */

    #navbar ul {
        justify-content: start;
        gap: 40px;
        padding: 0 10px;
        flex-wrap: wrap; 
    }
    
    #navbar ul li {
        font-size: 16px;
        width: auto;
        margin: 0 10px; /* Espaciado horizontal de 10px */
        height: auto;
        margin-top: 25px;
    }
    
    .primerli, .segundoli, .ultimoli {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}