
#navbar{
    width: 100%;
    max-height: 75px;
    min-height: 75px;
    background-color: black;
    color: #595843;

}
#navbar ul{
    max-height: 75px;
    min-height: 75px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#navbar ul li{
    width: 70px;
    height: 70px;
    font-size: 23px;
    margin-top: 20px;
}
.primerli{
    margin-left: 700px;
}
.ultimoli{
    margin-right: 100px;
}
a{
    color: #595843;
    text-decoration: none;
}

.icono{
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin-left: 20px;
}
#navbar ul li a:hover{
    color: #73262C;
}
.icono:hover{
    transform: scale(1.5);
}

@media (max-width: 768px) {

    .icono{
        display: none;
    }
    #navbar ul {
        justify-content: space-evenly;
        padding: 0 10px; /* Espaciado interno */
    }
    
    .primerli {
        margin-left: -370px; 
    }

    .segundoli{
        margin-left: -150px;
    }

    .ultimoli{
        margin-left: -100px;
    }

}