@font-face{
    font-family: "monserrat";
    src:url(letras/Montserrat/static/Montserrat-Bold.ttf);
}
body{
    width: 1400px;
    height: auto;
    background-image: linear-gradient(grey, black);
    background-repeat: no-repeat;
    min-height: 100vh;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 50%;
    font-family: "monserrat";
}