@font-face{
    font-family: "monserrat";
    src:url(letras/Montserrat/static/Montserrat-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #595843; 
    font-family: "monserrat";
}
h1{
    color: #591D1D;
    font-size: 120px;
    text-align: center;
    margin-top: 20px;
}
main{
    background-image: url(assets/definitivo1-removebg-preview.png);
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
}
